body {
    margin: 0;
    background: #0A1A2F;
    font-family: Arial, sans-serif;
    color: #D6E4F0;
}
.input-panel {
    margin-bottom: 30px;
}

.input-panel input {
    padding: 6px;
    margin: 5px;
}

.input-panel button {
    padding: 8px 15px;
    cursor: pointer;
}
/* NAVBAR */
.navbar {
    background: #1E2D40;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    color: #00C8A9;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: #D6E4F0;
    text-decoration: none;
    font-size: 16px;
}

/* MAIN CONTAINER */
.container {
    padding: 30px;
}

/* DASHBOARD CARDS */
.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: #1E2D40;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.card p {
    font-size: 30px;
    margin-top: 10px;
}

/* COLORS */
.green { color: #00C8A9; }
.yellow { color: #FFC107; }
.red { color: #FF5252; }

/* CHARTS */
.chart-box {
    background: #1E2D40;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

/* ALERT BOX */
.alert-box {
    background: #1E2D40;
    padding: 20px;
    border-radius: 10px;
}

/* UPLOAD PAGE */
.upload-box {
    background: #1E2D40;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    width: 50%;
    margin: auto;
}

.btn {
    background: #00C8A9;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    color: #0A1A2F;
    font-size: 16px;
    border-radius: 8px;
}